### Decisions

In [9]:
if True:
    print("default value of if is true")
    print("abc")
    print("xyz")

print("Hello")

default value of if is true
abc
xyz
Hello

In [11]:
if True: print("default value of if is true")

default value of if is true

In [14]:
if False:
    print("yes")
else:
    print("No")

print("Start")

No
Start

### ==, >, <, <=, >=

In [15]:
2 == 3

False

In [16]:
3 == 3

True

In [17]:
3 > 2

True

In [18]:
3 > 30

False

In [20]:
if 3 > 2:
    print("yes")
else:
    print("No")

print("Start")

yes
Start

### Short Hand If

In [22]:
print("yes") if 3 > 20 else print("no")

no

In [24]:
if 3 > 20:
    print("yes")
else:
    print("no")

no

### elif

In [27]:
price = 4000
if price > 3000:
    print("Football is expensive")
elif price == 3000:
    print("price of football is 3000")
else:
    print("Football is cheap")

Football is expensive

### Loops

- for
- while
- break
- continue

In [31]:
i = 0
while i < 10:
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8
9

In [34]:
i = 0
while i < 10:
    print(i)
    if i == 5: break
    i = i +1

0
1
2
3
4
5

In [39]:
i = 0
while i < 10:
    i = i + 1
    if i == 5: continue
    print(i)

1
2
3
4
6
7
8
9
10

In [40]:
i = 0
while i < 8:
    i = i + 1
    if i == 5: continue
    print(i)
else:
    print('Loop ended')

1
2
3
4
6
7
8
Loop ended

### For Loop

In [41]:
cities = ['Okara', 'Depalpur', 'Pakpattan']
for i in cities:
    print(i)

Okara
Depalpur
Pakpattan

In [43]:
for i in "pakpattan":
    print(i)

p
a
k
p
a
t
t
a
n

In [44]:
cities = ["okara", "lahore", "karachi", "multan", "sahiwal"]
for x in cities:
    print(x)
    if x == "multan": break

okara
lahore
karachi
multan

In [47]:
cities = ["okara", "lahore", "karachi", "multan", "sahiwal"]
for x in cities:
    if x == "multan": break
    print(x)

okara
lahore
karachi

In [48]:
cities = ["okara", "lahore", "karachi", "multan", "sahiwal"]
for x in cities:
    if x == "multan": continue
    print(x)

okara
lahore
karachi
sahiwal

In [49]:
cities = ["okara", "lahore", "karachi", "multan", "sahiwal"]
for x in cities:
    if x == "multan": continue
    print(x)
else:
    print("For loop ended")

okara
lahore
karachi
sahiwal
For loop ended

### Functions in Python

In [50]:
def f():
    print("from function f")

In [51]:
f()

from function f

In [52]:
def f(a, b):
    print(a + b)

In [53]:
f(2, 3)

5

In [54]:
def f(a, b):
    return (a + b)

In [55]:
f(30, 2)

32

### Arbitrary Arguments, *args

In [56]:
def f(*n):
    print(type(n))
f()

<class 'tuple'>

In [58]:
def f(*n):
    print(n)
f(1,20,3,4)

(1, 20, 3, 4)

In [59]:
def f(*n):
    total = 0
    for i in n:
        total += i 
    print(total)
f(1,20,3,4)

28

In [60]:
def f(**n):
    print(type(n))
f()

<class 'dict'>

In [61]:
def f(**n):
    total = 0
    for i in n.values():
        total += i
    return total
f(n1=2,n2=3,n3=4,n4=7)

16

### Python Lambda
- lambda arguments : expression

In [63]:
def f(a, b, c):
    total = a + b + c
    return total

In [64]:
f(3,4,5)

12

In [69]:
g = lambda a, b, c: a * b * c

In [71]:
g(1,2,4)

8