In [6]:
print("""Welcome to Python full length videos""")

Welcome to Python full length videos

In [8]:
"Welcome to Python full length videos"

'Welcome to Python full length videos'

In [9]:
name = input("What is your name: ")
print("WWelcome " + name)

What is your name: abdul ahad
WWelcome abdul ahad

In [13]:
x1 = int(input("x1 = "))
x2 = int(input("x2 = "))
total = x1 + x2
print(total)

x1 = 6
x2 = 8
14

In [15]:
type(x1)

int

In [22]:
if 5 > 8:
    print("True")
else:
    print("False")

False

In [23]:
# we add two numbers
5+6

11

In [24]:
5-2 # we subtract 2 from 5

3

In [27]:
print(2*4)
# print(4/2)

8

In [28]:
# this is a comment
# this is another comment
# this is also a comment
5-1

4

In [29]:
"""
this is a comment
this is another comment
this is also a comment
"""
6*4

24

In [30]:

'''
this is a comment
this is another comment
this is also a comment
'''

6*4

24

In [31]:
name = "abdul ahad"

In [32]:
name

'abdul ahad'

In [33]:
print(name)

abdul ahad

In [34]:
type(name)

str

In [35]:
age = 13

In [36]:
print(age)

13

In [37]:
type(age)

int

In [38]:
height = 2.1
print(height)

2.1

In [39]:
type(height)

float

In [45]:
_num1234 = 5

In [46]:
myFirstVariable = 9

In [47]:
MyFirstVariable = 9

In [48]:
my_first_variable = 15

In [49]:
usman = 92
ali = 80
ahmad = 95
aslam = 96

In [50]:
usman, ali, ahmad, aslam = 92, 80, 95, 96

In [51]:
usman

92

In [52]:
ahmad

95

In [53]:
usman = ali = ahmad = aslam = 14

In [54]:
usman

14

In [55]:
ali

14

In [56]:
cities = ['Okara', 'Karachi', 'Lahore', 'Islamabad']
usman, ali, ahmad, aslam = cities

In [57]:
usman

'Okara'

In [58]:
aslam

'Islamabad'

In [64]:
s1 = "this is a string "
s2 = 6
print(s1+str(s2))

this is a string 6

In [71]:
num = 6
def f():
    global num
    num = 12
    print(num)
f()

12

In [72]:
num

12