### input Output Statements

In [9]:
print("Welcome to Python full length videos")

Welcome to Python full length videos

In [2]:
'Python is the language of AI'

'Python is the language of AI'

In [5]:
x = input("x = ")
y = input("y = ")
print("Sum of two numbers: " + x + y)

x = 8
y = 6
Sum of two numbers: 86

In [8]:
x = int(input("x = "))
y = int(input("y = "))
print("Sum of two numbers: " + str(x + y))

x = 5
y = 9
Sum of two numbers: 14

### Python General Syntex:  Indentation

In [12]:
if 4 > 6:
    print("True")

In [13]:
if 4 > 6:
print("True")
else:
    print("False")

IndentationError: expected an indented block (<ipython-input-13-6e93606e60f3>, line 2)

### Comments
- single line comment
- multiline comments

In [14]:
# add two numbers
print(2+3)

print(3*5) #multiply two numbers

# print(6-2)

5
15

In [15]:
# this is a comment
# this is also a comment
# this is third comment

print("Welcome to Data Science and AI")

Welcome to Data Science and AI

In [16]:
'''
this is a comment
this is also a comment
this is third comment
'''

50-30

20

In [17]:
"""
this is a comment
this is also a comment
this is third comment
"""

100-60

40

### Variable Name

In [ ]:
num = 5
_num = 10
my_num = 15
my num = 50
num2 = 100
2num = 50

### Multi Words Variable Names

In [ ]:
# Camel Case
# Pascal Case
# Snake Case

In [18]:
### Many Values to Multiple Variables

In [21]:
usman, ali, ahmad, aslam = 92, 80, 95, 96

In [22]:
usman = ali = ahmad = aslam = 14

In [23]:
cities = ['Okara', 'Karachi', 'Lahore', 'Islamabad']
usman, ali, ahmad, aslam = cities

In [24]:
### output variables

In [25]:
s1 = "this is a string"
s2 = "this is an other string"
print(s1+s2)

this is a stringthis is an other string

In [26]:
s1 = 5
s2 = "Hello "
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Global variables

In [27]:
x = 5
def f():
    print("The number is: " + str(x))
f()

The number is: 5

In [28]:
x

5

In [29]:
x = 5
def f():
    x = 6
    print("The number is: " + str(x))
f()

The number is: 6

In [30]:
x = 5
def f():
    global x
    x = 6
    print("The number is: " + str(x))
f()

The number is: 6

### List